/* You can add global styles to this file, and also import other style files */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  .dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
html, body { height: 100%; }

